# Example env (used in Helm ConfigMap / local runs)
DJANGO_SETTINGS_MODULE=goit.settings
DEBUG=True
POSTGRES_PORT=5432
POSTGRES_NAME=postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ENGINE=django.db.backends.postgresql
# POSTGRES_HOST=db
